<div class="images-box" >
  <div class="row">
    <div class="col">

      <div class="card bg-dark text-white">
        <%= image_tag "ford-mustang-1970.jpg", class: "images" %>
        <div class="card-img-overlay d-flex justify-content-end flex-column">
          <h5 class="card-title ">Title: <%= link_to render_most_popular(@articles).title, article_path(render_most_popular(@articles)), class: "article-title black-color" %></h5>
          <p class="card-text">Description: <%= render_most_popular(@articles).text %>.</p>          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="images-box" >
  <div class=" row">
    <% render_without_popular(@articles).each do |article| %>
      <div class="col-sm-3 my-3">
        <div class="card bg-dark">
          <%= image_tag "enterpreneur.png", class: "images" %>
          <div class="card-img-overlay d-flex flex-column">
            <% unless article.categories.length == 0 %>
              <h5 class="card-title article-category">
              
            <h5 class="card-title"><%= render article.categories %> </h5>
            <% end %>
            <p class="mt-5""><%= link_to article.title, article_path(article), class: "article-title black-color" %></p>            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



