<div class="images-box" >
  <div class="row">
    <div class="col">

      <div class="card bg-dark text-white">
        <% if render_most_popular(@articles) %>
          <%= image_tag render_picture(render_most_popular(@articles)), class: "images" %>
          <div class="card-img-overlay d-flex justify-content-end flex-column">
            <% if render_most_popular(@articles).categories %>
              <h5 class="article-category"><%= render render_most_popular(@articles).categories %> </h5>
            <% end %>          
            <h5 class="card-title"><%= link_to render_most_popular(@articles).title, article_path(render_most_popular(@articles)), class: "article-title text-white" %></h5>
            <p class="article-text"> <%= truncate(render_most_popular(@articles).text, length: 100) %>.</p>
            <% if current_user %>
              <div class="article-voting unvoting badge badge-pill badge-secondary">
                <%= vote_or_unvote_btn(render_most_popular(@articles))  %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="images-box" >
  <div class=" row">
    <% render_without_popular(@articles).each do |article| %>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-dark">
           <%= image_tag render_picture(article), class: "images" %>
          <div class="card-img-overlay">
            <% if article.categories %>            
              <h5 class="article-category"><%= render article.categories %> </h5>
            <% end %>
            <p class="article-title-p"><%= link_to article.title, article_path(article), class: "article-title text-white" %></p>
            <% if current_user %>
              <div class="other-articles-voting unvoting badge badge-pill badge-secondary">
                <%= vote_or_unvote_btn(article) %>
              </div>
            <% end %>        
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



