<h2 class="text-center mt-4 text-white"><%= @article.title %></h2>

<div class="container">
  <div class="row justify-content-md-center">
  <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          by <%= check_username(@article) %>
          <div class="mt-2"><%= render check_categories(@article) %></div>
        </div>
        <div class="card-body">
          <%= image_tag check_picture(@article), class: "images-show" %>
          <div class="card-text text-left"><%= @article.text %></div>
          <% if logged_in? && (@article.user == current_user) %>
            <%= link_to "Edit", edit_article_path(@article), class:"btn btn-outline-info" %>
            <%= link_to "Delete", article_path(@article), class:"btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
