<h2 class="text-center mt-4 text-white"><%= check_article(@article, 'title') %></h2>

<div class="container">
  <div class="row justify-content-md-center">
  <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          by <%= check_name(@article) %>
          <div class="mt-2"><%= render check_categories(@article) %></div>
        </div>
        <div class="card-body">
          <%= check_picture(@article, 'images-show') %>
          <div class="card-text text-left"><%= check_article(@article, 'text') %></div>
          <%= vote_or_unvote_btn(@article) %>
            <%= view_edit_delete_links(@article, 'edit') %>
            <%= view_edit_delete_links(@article, 'delete') %>
            <div class="card-footer text-muted">
              <small> Created <%= time_ago_in_words(check_article(@article, 'created')) %> ago,
              edited <%= time_ago_in_words(check_article(@article,'updated')) %> ago </small>
            </div>          
          </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
