<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <div class="container">
    <div class="logo-box">
      <%= link_to "liFEsTYle", root_path,  class: "navbar-brand" %>
      <span class="littlecircle"></span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-auto">
        <% if logged_in? %>
          <li class="nav-item links <%= 'active' if request.path ==  root_path %>" >
              <%= link_to "Home", root_path, class: "nav-link"%>
          </li>

          <li class="nav-item links ml-5" >
              <%= link_to "Write an Article", root_path, class: "nav-link"%>
          </li>          
        <% end %>
      </ul>
      <div class="form-inline my-2 my-lg-0 login-signup">
      <% if logged_in? %>
          <%= link_to "Log out", logout_path,  class: "my-2 my-sm-0 logout mr-3", method: :delete %>
          <i class="fas fa-search magnifying-glass"></i>
      <% else %>
          <%= link_to "Log in", login_path,  class: "my-2 my-sm-0 login" %>
          <span class="lineinmiddle mx-2"></span>
          <%= link_to "Sign up", new_user_path,  class: "my-2 my-sm-0 signup" %>
      <% end %>
      </div>

    </div>
  </div>
</nav>