<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="navbar">
  <div class="logo-box">
    <%= link_to "liFEsTYle", root_path,  class: "navbar-brand"%>
    <span class="littlecircle"></span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item links" >
        <%= home_write_links("home") %>
      </li>
      <li class="nav-item links" >
        <%= home_write_links("article") %>
      </li>          
    </ul>
    <div class="form-inline my-2 my-lg-0 login-signup mr-4">
      <%= log_status_link("logout") %>
      <%= log_status_link("login") %>
      <span class="lineinmiddle mx-2"></span>
      <%= log_status_link("signup") %>
    </div>
    <div class="magnifying-glass-box">
      <i class="fas fa-search magnifying-glass"></i>
    </div>      
  </div>
</nav>

<div class="magnifying-glass-box-2">
  <i class="fas fa-search magnifying-glass-2"></i>
</div>   
