<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "LifeStyle Articles", root_path,  class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if logged_in? %>
          <li class="nav-item <%= 'active' if request.path ==  root_path %>" >
              <%= link_to "Home Page", root_path,  class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="form-inline my-2 my-lg-0">
      <% if logged_in? %>
          <%= link_to "Log out", logout_path,  class: "btn btn-danger my-2 my-sm-0 ", method: :delete %>  
      <% else %>
          <%= link_to "Log in", login_path,  class: "btn btn-primary my-2 my-sm-0 ml-4" %>
          <%= link_to "Sign up", new_user_path,  class: "btn btn-primary my-2 my-sm-0 ml-4" %>
      <% end %>
      </div>

    </div>
  </div>
</nav>